* {
    margin: auto;
   
}
body {
    background-image: url('../aula2.html/images/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
}


h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #413833;
}
